header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 12px 16px;
    gap: 12px;
    flex-wrap: wrap;

    .name {
        margin: 0;
    }

    .search {
        width: 250px;
        height: 30px;
        outline: none;
        border-radius: 5px;
        padding: 5px;
    }

    .box {
        display: flex;
        height: 60px;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width: 640px) {
    header {
        .name {
            order: 1;
        }

        .box {
            order: 2;
            height: auto;
        }

        .search {
            order: 3;
            width: 100%;
        }
    }
}