header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;

    .search{
        width: 250px;
        height: 30px;
        outline: none;
        border-radius: 5px;
    }

    .box{
        display: flex;
        height: 60px;
        gap: 10px;
        align-items: center;
    }    
}